name: SSH into EC2

on:
  workflow_dispatch:
    inputs:
      host_ip:
        description: 'Public IP of the EC2 instance'
        required: true
      ssh_user:
        description: 'SSH username'
        required: true
        default: ubuntu

jobs:
  ssh:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.EC2_PRIVATE_KEY }}

      - name: SSH and run commands
        uses: appleboy/ssh-action@v1.2.3
        with:
          host: ${{ github.event.inputs.host_ip }}
          username: ${{ github.event.inputs.ssh_user }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            sudo apt update -y
            # install git
            sudo apt install git -y
            echo "Hello World from GitHub Actions"
            # Example: clone repo if not exists
            cd /home/${{ github.event.inputs.ssh_user }}
            [ ! -d farms ] && git clone https://github.com/BNeerajKrishna/farms.git
            cd farms/frontend
            ls
            cd ../backend
            ls
