name: Terraform Deploy

on:
  workflow_dispatch: # manually trigger
  push:
    branches:
      - main

jobs:
  terraform:
    name: Terraform Plan and Apply
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Plan
        id: tf-plan
        working-directory: ./terraform
        run: terraform plan -out=tfplan
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-south-1

      - name: Upload plan artifact
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: terraform/tfplan

      - name: Terraform Apply
        id: tf-apply
        working-directory: ./terraform
        run: terraform apply -auto-approve tfplan
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-south-1

      - name: Get Instance Public IP
        id: tf-output
        working-directory: ./terraform
        run: |
          IP=$(terraform output -raw instance_public_ip)
          echo "EC2 IP: $IP"
          echo "instance_ip=$IP" >> $GITHUB_ENV
          echo "$IP" > instance_ip.txt

      - name: Save instance IP to artifact
        uses: actions/upload-artifact@v4
        with:
          name: instance-ip
          path: ./terraform/instance_ip.txt
